Kamil Kozioł <kamilkoziol92@gmail.com> KamKoz92
Kamil Kozioł <kamilkoziol92@gmail.com> <51924117+KamKoz92@users.noreply.github.com>
Piotr Chowaniec <chowaniec.piotr@poczta.fm> <78549494+chowaniecpiotr@users.noreply.github.com>
Piotr Chowaniec <chowaniec.piotr@poczta.fm> <piotr_chowaniec@epam.com>
Dominik Żebracki <d.zebracki@gmail.com> d.żebracki
Dominik Żebracki <d.zebracki@gmail.com> <35659635+mr-tompkins@users.noreply.github.com> 
Mariusz Bal <developer.m.info@gmail.com> <49595495+deetree@users.noreply.github.com>
