table {
	table-layout: fixed;
	font-family: futura-pt, sans-serif;
	border-collapse: collapse;
	border-style: hidden;
	border-radius: 15px;
	overflow: hidden;
}

.board {
	display: flex;
	flex-direction: column;
}

div > p {
	text-align: center;
}

td {
	text-align: center;
	font-size: 80%;
	padding: 3px;
	border: 1px solid black;
	cursor: crosshair
}

.water:hover {
	background-color: lightgray;
}

.water {
	background-color: lightblue;
}

.missed {
	background-color: dimgray;
}

.accurate {
	background-color: indianred;
}

.intact {
	background-color: salmon;
}

body {
	display: flex;
	flex-direction: row;
	column-gap: 15px
}
