table {
	table-layout: fixed;
	font-family: futura-pt, monospace;
	border-collapse: collapse;
	border-style: hidden;
	border-radius: 15px;
	overflow: hidden;
	width: 48vw;
	height: 80vh;
}

.board {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

div > p {
	text-align: center;
}

td {
	text-align: center;
    font-size: 2em;
    padding: 3px;
    border: 1px solid black;
    cursor: crosshair
}

.water:hover {
	background-color: lightgray;
}

.water {
	background-color: beige;
}

.missed {
	background-color: dimgray;
}

.accurate {
	background-color: indianred;
}

.intact {
	background-color: salmon;
}

body {
	flex-direction: row;
	column-gap: 15px;
	background-color: aliceblue;
}

#boards {
	display: flex;
	column-gap: 15px;
	flex-direction: row;
}

span {
	align-self: center;
}

#rightSide {
    border-radius: 15px;
}

#playerBoard td {
    cursor: default;
}

.opponentTurn {
	background-color: coral;
	transition: 2s;
	cursor: not-allowed;
}

.playerTurn {
	background-color: greenyellow;
	transition: 2s;
	cursor: crosshair;
}

#status {
    position: fixed;
    top: 89vh;
    left: 65vw;
    background-color: red;
    font-size: 1.3em;
    color: white;
    padding: 1vh;
}

#logout {
    position: absolute;
}

.collapsible {
	margin-top: 20px;
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 49%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 15px;
  }
  .collapsible:after {
	content: '\02795'; 
	font-size: 13px;
	color: white;
	float: right;
	margin-left: 5px;
  }
  .active:after {
	content: "\2796"; 
  }
  
  .active, .collapsible:hover {
	background-color: #ccc;
  }
  
  .content {
	width: 49%;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  }
  