.page_404 {
    padding:20px 10px;
    background:#fff;
    font-family: 'Arvo', serif;
}

.page_404 img{
    width:100%;
}

.four_zero_four_bg{
    background-image: url("https://media0.giphy.com/media/Qxkf4LQ1xIbXpH8z0I/giphy.gif?cid=ecf05e47454rdn94r04ow9uw8q9lbfu5sb4jdtoiyweojbjs&rid=giphy.gif&ct=g");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
 }


 div > h1{
    font-size: 6em;
 }

.four_zero_four_bg h3{
    font-size: 6em;
}

.link_404{
    color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none !important;
}

.contant_box_404 {
    margin-top:-10px;
}
